# Entornos virtuales
.venv-planeacion/
.venv/
ENV/
.env

# Caché de Python
**/__pycache__/
*.py[cod]
*$py.class

# Archivos generados

salidas/extracciones_json/*.json


# Archivos cargados por usuarios

uploads/pdfs/*
uploads/imagenes/*

# Archivos de configuración de VS Code (opcional)
.vscode/