# Entornos virtuales

.venv-planeacion/
.venv/
ENV/


# Variables privadas

.env


# Caché Python

**/__pycache__/
*.py[cod]
*$py.class


# Archivos generados

salidas/**/*.json
*.log


# Archivos cargados por usuarios

uploads/pdfs/*
uploads/imagenes/*


# Configuración VS Code

.vscode/